﻿@model IEnumerable<Infra.Models.Fornecedor>

@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FornecedorID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.FornecedorID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.FornecedorID })
        </td>
    </tr>
}

</table>
