﻿@{
    ViewBag.Title = "Home Page";
}
<div class="container">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="d-flex flex-column ">
            <h1 class="display-4">Target Meio de Pagamentos</h1>
            <p class="lead">Controle de inventário</p>
            <p><a class="btn btn-dark" href="~/Plaquetas/">Ativar Plaqueta &raquo;</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="row">
            <div class="col-sm">
                <h2>Cadastro colaborador</h2>
                <p class="lead">
                    Cadastre um colaborador para atribuí-lo um bem.
                </p>
                <p><a class="btn btn-default" href="~/Funcionarios/Create">Cadastrar Colaborador &raquo;</a></p>
            </div>
            <div class="col-sm">
                <h2>Incluir modelo</h2>
                <p class="lead">                    
                    Incluir um modelo nas tabelas de modelos de bens.
                </p>
                <p><a class="btn btn-default" href="~/ModMenu/">Inclusão Modelo &raquo;</a></p>
            </div>           
        </div>
    </div>
</div>
</div>



