﻿@model IEnumerable<Infra.Models.Plaqueta>

@{
    ViewBag.Title = "Index";
}

<h2>Plaquetas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr><th>
            @Html.DisplayNameFor(model => model.PlaquetaID )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaquetaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativada)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PlaquetaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PlaquetaID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.PlaquetaID })
        </td>
    </tr>
}

</table>
