﻿@model Infra.Models.Office

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Office</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModSoftware.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModSoftware.Modelo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.OfficeID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
