﻿@model IEnumerable<Infra.Models.Movei>

@{
    ViewBag.Title = "Index";
}

<h2>Moveis</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModMovel.Modelo)
        </th>
        <th>
            Plaqueta           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModMovel.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plaqueta.PlaquetaID)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.MovelID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.MovelID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.MovelID })
        </td>
    </tr>
}
</table>
