﻿@model Infra.Models.ModCftv

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>ModCftv</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricante.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ModCftvID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
