﻿@model IEnumerable<Infra.Models.ModMonitor>

@{
    ViewBag.Title = "Index";
}

<h2>Modelos Monitores</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            Fabricante
        </th>
        <th>
            Fornecedor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fabricante.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ModMonitorID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ModMonitorID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ModMonitorID })
        </td>
    </tr>
}

</table>
